body {
  background: #333;
  color: #E5E5CB;
  font-family: Helvetica;
}

.outputForm {
  /* This, along with putting them in a <form>, makes the copyOutputButton the same height as the outputTextArea */
	display: flex;
}

::placeholder {
  color: #E5E5CB;
  opacity: 0.3;
}

.inputTextArea {
  background: #735F32;
  color: #E5E5CB;
  margin-bottom: 20px;
}

.outputTextArea {
  background: #2C3333;
  color: #E5E5CB;
  resize: vertical;
}

.copyOutputButton {
  background: #395B64;
  width: 250px;
  margin-left: 20px;
}

.copyOutputButtonImage{
  width: 60%;
  object-fit: contain;
}

a:link {
  color: #395B64;
}
a:visited {
  color: #395B64;
}
a:hover {
  color: #395B64;
}
a:active {
  color: #395B64;
}

.settingsButton {
  color: #333;
  background: #395B64;
  font-size: 15px;
  font-weight: bold;
  padding: 3px;
}

.settingsModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.settingsModalContent {
  background-color: #333;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #E5E5CB;
  width: 20%;
}

.settingsCloseButton {
  color: #E5E5CB;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.settingsCloseButton:hover,
.settingsCloseButton:focus {
  color: #735F32;
  text-decoration: none;
  cursor: pointer;
}
